build
docs
*.pyc
logfile
*.*~
*.o
*.so
*.py.*
*.*gz
*.html
.#*
*.*#
*.db
.DS_Store
*.egg-info
output.csv
*_cleaned.csv
dist

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
